*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    overflow-y: auto;
    height: 100%;
}

body{
    margin: 0;
    padding: 100px 1.5%;
    background: linear-gradient(45deg,#382970,#7e6e1b);
    background-attachment: fixed;
    color:#fff;
}
button,
.add{
    background: rgba(0, 0, 0, 0.3);
    border:none;
    color:#fff;
    padding:10px;
    cursor:pointer;
    outline: none;
    margin: auto;
    width: 190px;
    max-width: 100%;
    border-radius: 7px;
}
header{
    position:fixed;
    top:0;
    left: 0px;
    background: linear-gradient(45deg,rgba(37, 37, 37, 0.95),rgba(68, 68, 68, 0.95));
    box-shadow: 0 0 20px 0 #000;
    width:100%;
    height:80px;
    z-index: 10;
}
header button{
    background:none;
    font-size: 21px;
    padding: 26px;
}
header button:hover,
.current{
    font-size:30px;
    line-height: 18px;
}

.group{
    display: flex;
    float: left;
    flex-direction: column;
    width: 16vw;
    height: 32vw;
}
.cart{
    float:right;
    width: 80px;
    height: 80px;
    padding: 25px;
    background: #181943;
    position: relative;
}
.block{
    background: hsla(0, 0%, 0%, 0.2);
    padding: 5px;
    border-radius:10px;
    margin: 1vw;
    float: left;
    position: relative;
    opacity: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.block img{
    width:100%;
    opacity: 0.3;
    padding: 25px;
}
.big{
    width: 30vw;
    height: 30vw;
}
.small{
    width: 14vw;
    height: 14vw;
}
.long{
    width: 11vw;
    height: 23vw;
}
.cart-count{
    background: #fff;
    color: #192b2e;
    border: 4px solid #191a44;
    padding: 3px;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: 10px;
    right: 10px;
}
.meta{
    position:absolute;
    bottom: 5px;
    width: calc(100% - 10px);
}
.price{
    float:left;
    margin-right: 10px;
}
.meta h3{
    margin:5px;
    text-shadow: 0 0 5px #000;
}
.flex{
    display: flex;
    width: 100%;
}
.cart img{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 42px;
}
.add-text{
    position: fixed;
    bottom: 40vh;
    text-align: center;
    text-shadow: 0 0 27px #000;
    font-size: 0px;
    width: 100%;
    left: 0px;
    z-index: 99;
    cursor: pointer;
}
.nothave{
    background: rgba(147, 48, 48, 0.8);
}
.delete{
    background: rgba(37, 134, 50, 0.8);
}
.green{
    background: linear-gradient(45deg, rgba(5, 122, 84, 0.5),rgba(107, 182, 12, 0.5));
}
.red{
    background: linear-gradient(45deg, rgba(134, 19, 0, 0.5),rgba(194, 95, 38, 0.5));
}
.yellow{
    background: linear-gradient(45deg, rgba(182, 87, 20, 0.5),rgba(214, 210, 28, 0.5));
}
.blue{
    background: linear-gradient(45deg, rgba(17, 9, 128, 0.5),rgba(31, 113, 142, 0.5));
}